---

Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  
#  -google-readability-braces-around-statements,
#  -google-readability-namespace-comments,
#  -google-runtime-references,
#  -misc-non-private-member-variables-in-classes,
#  -modernize-return-braced-init-list,
#  -modernize-use-trailing-return-type,
#  -modernize-avoid-c-arrays,
#  -performance-move-const-arg,
#  -readability-braces-around-statements,
#  -readability-identifier-length,
#  -readability-named-parameter,
#  -readability-redundant-declaration,
#  -readability-function-cognitive-complexity,
#  -bugprone-narrowing-conversions,
#  -bugprone-easily-swappable-parameters,
#  -bugprone-implicit-widening-of-multiplication-result

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

HeaderFilterRegex: ".*\\.h$"

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: lower_case }
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,           value: aNy_CasE  }
  - { key: readability-identifier-naming.VariableCase,           value: lower_case }
  - { key: readability-identifier-naming.ClassMemberCase,        value: lower_case }
  - { key: readability-identifier-naming.ClassMemberPrefix,      value: m_          }
  - { key: readability-identifier-naming.PrivateMemberPrefix,    value: m_          }
  - { key: readability-identifier-naming.ProtectedMemberPrefix,  value: m_          }
  - { key: readability-identifier-naming.PrivateMethodPrefix,    value: _          }
  - { key: readability-identifier-naming.EnumConstantCase,         value: CamelCase }
  - { key: readability-identifier-naming.ConstexprVariableCase,    value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.MemberConstantCase,       value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantCase,       value: CamelCase }

