---

Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type

  
#  -google-readability-braces-around-statements,
#  -google-readability-namespace-comments,
#  -google-runtime-references,
#  -misc-non-private-member-variables-in-classes,
#  -modernize-return-braced-init-list,
#  -modernize-use-trailing-return-type,
#  -modernize-avoid-c-arrays,
#  -performance-move-const-arg,
#  -readability-braces-around-statements,
#  -readability-identifier-length,
#  -readability-magic-numbers,
#  -readability-named-parameter,
#  -readability-redundant-declaration,
#  -readability-function-cognitive-complexity,
#  -bugprone-narrowing-conversions,
#  -bugprone-easily-swappable-parameters,
#  -bugprone-implicit-widening-of-multiplication-result

# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"

HeaderFilterRegex: ".*\\.h$"

